/node_modules
/public/css
/public/fonts
/public/hot
/public/img/oeco-logo.svg
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/coverage
/.deployment
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
*.log
composer.phar
