# SetEnv APPLICATION_ENV production

# Options
# -------

Options -Indexes
Options -Multiviews

# Redirect HTTP -> HTTPS
# ----------------------

RewriteEngine On

# 1. When HTTPS_PORT is set
RewriteCond %{ENV:APPLICATION_ENV} !development [NC]
RewriteCond %{HTTPS} !on [NC]
RewriteCond %{ENV:HTTPS_PORT} . [NC]
RewriteRule (.*) https://%{SERVER_NAME}:%{ENV:HTTPS_PORT}/$1 [R,L]

# 2. Otherwise, don't specify port
RewriteCond %{ENV:APPLICATION_ENV} !development [NC]
RewriteCond %{HTTPS} !on [NC]
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

# URL Rewriting
# -------------

# Project/news URLs: try cache first
RewriteRule ^img/projects/(.*)$ php/data/cache/projects/$1 [L]
RewriteRule ^img/news/(.*)$ php/data/cache/news/$1 [L]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^php/data/cache/.*$ - [L]

# Favicon
RewriteRule ^favicon.ico$ img/favicon.ico

# Public files
RewriteRule ^(css|js|img)/.*$ - [L]

# Redirect to image service when file does't exist
RewriteRule ^php/data/cache/([^/]*)/([^@]+)@(\d+)x(\d+).jpg services/image.php?path=$1/$2.jpg&width=$3&height=$4
RewriteRule ^php/data/cache/([^/]*)/([^@]+)@(\d+)x.jpg$ services/image.php?path=$1/$2.jpg&width=$3

# Services
RewriteRule ^services/(.*)$ php/services/$1 [L]

# Views
RewriteRule ^/?$                      php/views/home.php [L]
RewriteRule ^agence/?$                php/views/agency.php [L]
RewriteRule ^agence/publications/?$   php/views/publications.php [L]
RewriteRule ^projets/?$               php/views/projects.php [L]
RewriteRule ^projets/(.+)$            php/views/project.php?id=$1 [L]
RewriteRule ^admin/?$                 php/views/admin/index.php [L]
RewriteRule ^admin/login$             php/views/admin/login.php [L]
RewriteRule ^admin/logout$            php/views/admin/logout.php [L]
RewriteRule ^admin/project/new$       php/views/admin/project.php?new=true [L]
RewriteRule ^admin/project/(.+)/edit$ php/views/admin/project.php?new=false&id=$1 [L]

RewriteCond %{ENV:REDIRECT_STATUS} !=200
RewriteRule ^(.*) php/views/404.php?page=$1 [L]

ErrorDocument 404 /php/views/404.php

# Caching
# -------

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 month"

  ExpiresByType text/cache-manifest "access plus 0 seconds"
  ExpiresByType application/json "access plus 0 seconds"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 week"

  ExpiresByType text/html "access plus 1 day"
  ExpiresByType image/css "access plus 1 week"
  ExpiresByType image/ico "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
</IfModule>
