/// Breakpoints
/// ===========
//
/// [sass-mq] is used as it requires minimal configuration to provide a mixin that allows composing
/// media queries.
//
/// [sass-mq]: https://github.com/sass-mq/sass-mq

/// Currently default `sass-mq` breakpoints are used:
//
///    $mq-breakpoints: (
///        mobile:  320px,
///        tablet:  740px,
///        desktop: 980px,
///        wide:    1300px
///    );
///
/// Some variables must be defined globally (typically in config/ui.yml):
/// @require {Variable} $mozaic-columns
/// @require {Variable} $mozaic-desktop-gap
/// @require {Variable} $mozaic-desktop-width
/// @require {Variable} $mozaic-wide-gap
/// @require {Variable} $mozaic-wide-width

@import '~sass-mq';

/// Container widths
$container-widths: (
    mobile: 100%,
    tablet: 700px,
    desktop: #{($mozaic-columns * $mozaic-desktop-width) + ($mozaic-columns - 1) * $mozaic-desktop-gap}px,
    wide: #{($mozaic-columns * $mozaic-wide-width) + ($mozaic-columns - 1) * $mozaic-wide-gap}px
);

/// Mozaic config
$mozaic-settings: (
    desktop: (
        template-columns: repeat(#{$mozaic-columns}, #{$mozaic-desktop-width}px),
        auto-rows: #{$mozaic-desktop-height}px,
        column-gap: #{$mozaic-desktop-gap}px,
        row-gap: #{$mozaic-desktop-gap}px,
    ),
    wide: (
        template-columns: repeat(#{$mozaic-columns}, #{$mozaic-wide-width}px),
        auto-rows: #{$mozaic-wide-height}px,
        column-gap: #{$mozaic-wide-gap}px,
        row-gap: #{$mozaic-wide-gap}px,
    )
);
