.#{$namespace}-nav {
    $vertical-spacing: 2 * $global-spacing;
    padding: 0 $global-spacing;

    $item-spacing: .2rem;
    $anchor-padding-vertical: .25rem;
    $anchor-padding-horizontal: .5rem;

    &__logo {
        margin: 0 auto;
        margin-bottom: $vertical-spacing;

        a {
            display: block;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__menu {
        @include horizontal-nav-list($item-spacing, $anchor-padding-vertical, $anchor-padding-horizontal);
        margin-top: 0;
        margin-bottom: $vertical-spacing;

        a {
            > img {
                margin: -$anchor-padding-vertical 0;
                height: 2rem;
            }
        }
    }
}
