.#{$namespace}-news {
    $font-size-factor: 1.2;

    $vertical-spacing: 2 * $line-break;

    @include vertical-list($vertical-spacing);

    &__image {
        margin-bottom: $line-break;
    }

    &__title {
        @include title;
        margin-bottom: 0;
        font-size: $font-size-factor * 1rem;
    }

    &__headline {
        line-height: $font-size-factor * $base-line-height;
    }
}
