/// Typography
/// ==========
///
/// [typi] is used to provide font-size and line-height declarations, and maintain vertical rythm
/// within pages.
///
/// [typi]: https://github.com/zellwk/typi

@import './lib/lang';

$typi: (
    base: (
        null: (15px, 1.6),
        tablet: 14px,
        desktop: 15px,
        wide: 16px,
    ),
);

$font-sizes-offsets: (
    heading1: 6px,
    heading2: 2px,
    nav1: 2px,
    nav2: 1px,
);
@each $size, $offset in $font-sizes-offsets {
    $typi: map-set($typi, $size, (
            null: 15px + $offset,
            tablet: 14px + $offset,
            desktop: 15px + $offset,
            wide: 16px + $offset,
    ));
}

$typi-breakpoint: mq;

@import '~typi';
@include typi-init;

html {
    font-family: 'Oeco Regular', sans-serif;
    font-weight: font-weight(normal);
}

h1, h2, h3 { // sass-lint:disable-line single-line-per-selector
    text-transform: uppercase;
    font-weight: font-weight(light);
}

h4, h5, h6, dt, b, strong { // sass-lint:disable-line single-line-per-selector
    font-weight: font-weight(bold);
}

img {
    display: block;
}
