@import '~normalize.css/normalize';

$namespace: 'oe';

$global-spacing: 1rem;

body {
    padding: 2 * $global-spacing $global-spacing;
}

@import 'lib/mixins';

@import 'agency';
@import 'contact';
@import 'nav';
@import 'news';
@import 'project';
@import 'projects';
@import 'subnav';
