@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url(fonts/HelveticaNeueLTPro-Bd.woff);
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: normal;
  src: url(fonts/HelveticaNeueLTPro-Roman.woff);
}

/* @font-face {
  font-family: HelveticaNeue;
  font-weight: 600;
  src: url(fonts/HelveticaNeueLTPro-Md.woff);
} */

@font-face {
  font-family: HelveticaNeue;
  font-weight: 200;
  src: url(fonts/HelveticaNeueLTPro-Th.woff);
}

/* @font-face {
  font-family: HelveticaNeue;
  font-weight: 100;
  src: url(fonts/HelveticaNeueLTPro-UltLt.woff);
} */
