@import url(bootstrap.css);
@import url(fonts.css);

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body {
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

section, aside {
  margin-bottom: 5rem;
}

.title {
  font-size: 1em;
}

.inline-list {
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline;
}

.inline-list li {
  margin-left: 20px;
}

.inline-list li:first-child {
  margin-left: 0;
  margin-left: 0;
}

.inline-list.pull-right li {
  margin-left: 0;
  margin-right: 20px;
}

a {
  color: #555;
}

a:hover {
  color: #333;
}

a.active {
  color: #000;
  font-weight: bold;
}

header,
#logo,
#navigation,
#project-categories {
  margin: 3.6rem auto;
}

#logo {
  text-align: center;
}

#logo img {
  display: block;
  margin: 0 auto;
}

#navigation,
#project-categories {
  text-align: center;
}

#navigation {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: flex-end;
  }

  #logo,
  #navigation {
    margin: 0;
  }

  #logo {
    margin-bottom: 10px; /* Fixes alignment */
  }

  #navigation {
    flex-grow: 1;
  }

  #navigation,
  #project-categories {
    text-align: right;
  }
}

.home {
  max-width: 800px;
}

.home section {
  margin-top: 40px;
}

.news-title, .project-title, .agency h1 {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 1em 0 .5em 0;
}

.news-summary, .project-summary {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.2;
}

.home .carousel {
  height: 500px;
}

.home .carousel img {
  height: 500px;
  max-width: 800px;
}

.description {
  text-align: justify;
  line-height: 1.8;
}

.description p {
  margin: 1.5em 0;
}

.actions a {
  font-weight: bold;
  text-transform: uppercase;
}

.people {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.people img {
  width: 100%;
  margin-bottom: 1em;
}

.people figcaption {
  font-size: 24px;
  font-family: HelveticaNeue, sans-serif;
  font-weight: 200;
  color: #999;
  line-height: 1em;
  margin-top: .5em;
}

.people h2 {
  font-family: HelveticaNeue, sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #999;
  margin-top: 40px;
}

.people h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0 .5em 0;
  line-height: 2em;
}

.people p {
  margin: .5em 0;
}

#geolocalisation {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.agency.publications article img {
  width: 100%;
  height: auto;
}

#project-categories a.active,
#projects a.active {
  pointer-events: auto;
}

#projects .pic {
  display: block;
  padding: 0;
}

#projects .pic img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .pic:not(.pic-placeholder) {
    margin-bottom: 16px;
  }

  .pic figcaption {
    margin: 1rem 0;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
  }

  #projects .pic {
    display: none;
  }

  #projects .pic.active {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #projects .row {
    margin-bottom: 10px;
    margin-right: -5px;
    margin-left: -5px;
  }

  #projects .col {
    padding: 0 5px;
  }

  #projects .pic {
    height: 190px;
    transition: opacity 1s;
    opacity: .3;
    position: relative;
    overflow: hidden;
  }

  #projects .pic.active {
    opacity: 1;
  }

  #projects .pic-high {
    height: 390px;
    margin-bottom: -200px;
    z-index: 1;
  }

  #projects .pic-placeholder {
    z-index: -1;
  }

  #projects .pic img {
    height: 100%;
    object-fit: cover;
  }

  #projects .pic figcaption {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7));
    font-size: 85%;
    font-weight: normal;
    padding: .5em 1em;
    opacity: 0;
    transition: opacity .5s, transform .3s;
  }

  #projects .pic:hover figcaption {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.project-details section img {
  width: 100%;
  display: block;
  height: auto;
}

.project-details .description,
.project-details .image {
  margin: 2em 0;
}

.project-details dd p {
  margin: 0;
}
