@import '../lib/lists';

/// Display a vertical list on mobile
/// @require {Function} vr
/// @require {Mixin} typi
.oe-carousel {
    @include vertical-list;

    &__item {
        margin-bottom: vr(2);
    }

    &__image,
    &__title {
        margin-bottom: vr(1);
    }

    &__title {
        @include typi('heading2');
    }

    &__headline, {
        font-size: inherit;
    }
}
