@import '../lib/lists';

/// Display a vertical list on mobile
/// @require {Function} vr
/// @require {Mixin} typi
.oe-carousel {
    @include vertical-list;
    display: block;

    &__item {
        display: block;
        margin-bottom: vr(2);

        @at-root [data-script='yes'] & {
            margin-bottom: vr(1);
            cursor: pointer;

            // Hide slides except first one during VueCarousel loading
            &:not(:first-child):not(.VueCarousel-slide) {
                display: none;
            }
        }
    }

    &__image,
    &__title {
        margin-bottom: vr(1);
    }

    &__title {
        @include typi('heading2');
    }

    &__headline, {
        font-size: inherit;
    }
}

// VueCarousel customizations
.VueCarousel-dot {
    $carousel-nav-focus-bg: #666;

    margin-top: 0 !important;
    line-height: 10px !important;

    &-button {
        transition: background 250ms ease-out;
    }

    &:hover &-button,
    &-button:focus {
        outline: none !important;
        background: $carousel-nav-focus-bg !important;
    }
}
