@import '../lib/layout';

/// Page container
///
/// Set a vertical padding and for each breakpoint:
/// - a width of 100% and a horizontal padding, or
/// - a fixed width (in ems, using `mq-px2em`)
///
/// @require {Variable} $container-widths
/// @require {Mixin} mq
.oe-container {
    $padding-horizontal: 1rem;
    $padding-vertical: 2rem;

    @include vertical-padding($padding-vertical);

    @each $breakpoint, $width in $container-widths {
        @include mq($from: $breakpoint) {
            @if ($width == 100%) {
                @include horizontal-padding($padding-horizontal);

                width: $width;
            } @else {
                @include horizontal-padding(0);
                @include centered-block();

                width: $width; // We don't use mq-px2em() to ensure mozaic items fill pixel-erfectly
            }
        }
    }
}
