@import '../lib/debug';
@import '../lib/layout';

/// Responsive images
///
/// @example
///     <div class="oe-image" padding-top="56.25%">
///         <img class="oe-image__content" src="..." alt="..."/>
///     </div>
///
/// @require {Mixin} error
/// @require {Mixin} cover
.oe-image {
    position: relative;
    overflow: hidden;
    height: 0;

    &:not([style^='padding-top:']) {
        @include error('Missing padding-top.');

        padding-top: percentage(9 / 16);
    }

    &:not([style*='background-color:']) {
        @include error('Missing background.');
    }

    &__content {
        @include cover();

        object-fit: cover;
        object-position: 50% 50%;
    }
}
