@import '../lib/lists';

/// Horizontal menu
/// @require {Mixin} horizontal-list
/// @require {Mixin} horizontal-padding
.oe-menu {
    $item-horizontal-spacing: 0.5rem;
    $item-horizontal-padding: 0.5rem;
    $item-height: vr(1.5);

    @include horizontal-list;

    &__item {
        @include horizontal-padding($item-horizontal-spacing);

        height: $item-height;

        a {
            @include horizontal-padding($item-horizontal-padding);

            display: flex;
            height: 100%;
            align-items: flex-end;
        }

        img {
            height: 100%;
        }
    }
}
