@import '../lib/layout';

/// Navigation
/// ==========

/// Primary and secondary navigation
/// @require {Mixin} centered-block
.oe-nav {
    $vertical-spacing: vr(1.5);
    $header-width: 24rem;
    $header-width-max: 80%;

    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;

    &__header {
        display: block;
        margin-bottom: $vertical-spacing;

        a {
            @include centered-block;
            display: block;
            flex-grow: 1;
            width: $header-width;
            max-width: $header-width-max;
        }

        img {
            @include size(auto, 100%);
        }
    }

    &--primary,
    &--secondary {
        margin-bottom: $vertical-spacing;
    }
}
