@import 'util/math';

$text-line-height: 1.9;
$text-vertical-spacing: 1rem * $text-line-height;

html {
  font-family: 'Roboto', sans-serif;
  font-size: font-size-percentage(15px);
  font-weight: 400;
  line-height: $text-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin-bottom: $text-vertical-spacing;
}

em,
strong {
  font-weight: inherit;
}

p {
  margin-bottom: $text-vertical-spacing;
}

.oeco-article {
  &__title {
    font-size: 1.7em;
    text-transform: uppercase;
  }
}
